body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input {
  font-size: 20px;
}

h2 {
  font-size: 27px;
  font-weight: bold;
}

.button {
  font-size: 20px;
}
.is-danger {
  margin-left: 130px;
}

img {
  display: inline-block;
  height: 100px;
  width: 100px;
}



.podcastList {
  width: 350px;
  display: inline-block;
  font-size: 20px;
}

li {
  font-size: 20px;
}

.black {
  color: black;
}

select {
  width: 218px;
}

textarea {
  width: 218px
}

#genreText {
  display: inline-block;
  max-width: 217px;
  min-width: 217px;
}

label {
  font-size: 21px;
  width: 137px;
  text-align: right;
  padding-right: 7px;
}