/* Layout Elements */

.main-grid {
  display: grid;
  padding-bottom: 10px;
  min-height: 100vh;
  background-color: #eee;
  color: black;
  grid-template-areas: 'header header' 'main aside-1' 'main aside-2' 'main aside-2' 'footer footer';
  grid-template-columns: 3fr 2fr;
  grid-row-gap: 2px;
  grid-column-gap: 2px;
}

.container-grid.header {
  background-color: rgb(231, 100, 75);
  grid-area: header;
}

.container-grid {
  margin-right: 0;
  margin-left: 0;
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #fff;
  overflow-y: scroll;
}

.container-grid.aside-1 {
  background-color: #fff;
  height: 45vh;
  overflow-y: scroll;
  grid-area: aside-1;
}

.container-grid.main {
  background-color: #fff;
  height: 80vh;
  grid-area: main;
}

.container-grid.aside-2 {
  background-color: #fff;
  height: 35vh;
  overflow-y: scroll;
  grid-area: aside-2;
}

.container-grid.footer {
  background-color: #eee;
  grid-area: footer;
}

@media screen and (min-width: 36rem) {
  /* Layout Elements */

  body.main-grid {
    grid-template-areas: 'header header' 'main main' 'aside-1 aside-2' 'aside-1 aside-2' 'footer footer';
    grid-template-columns: repeat(2 , 1fr);
  }
}

@media screen and (min-width: 48rem) {
  /* Text Elements */

  h2.the {
    padding-right: 7px;
    font-style: italic;
    font-size: 26px;
    color: rgb(255,255,255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  }
  h3 {
    color:  rgb(218, 90, 70);
  }
  h2 {
    color:  rgb(218, 90, 70);
  }
  h4 {
    color:red;
    font-size: 20px;
  }

  span {
    color: black;
    font-size: 18px;
  }

  h2.title {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    color: rgb(255,255,255);
    vertical-align: text-top;
    text-align: center;
    font-size: 36px;
    font-family: 'Press Start 2P', cursive;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;*/
    line-height: .6;

    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
            align-self: auto;
  }

  h2.heading-1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    margin-top: 10px;
    margin-bottom: 30px;
  }

.reviews-1 {
  color: #acac62;
}

.reviews-2 {
  color: blueviolet;
}

  h2.pass {
    padding-right: 7px;
  }

  h2.pass.title {
    color: rgb(255,255,255);
  }

  h3.heading-2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  }

  h3.heading-3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  }

  /* Layout Elements */

  body.main-grid {
    grid-template-areas: 'header header' 'main aside-1' 'main aside-2' 'main aside-2' 'footer footer';
    grid-template-columns: 3fr 2fr;
  }

  .container-grid.header {
    background-color: rgb(218, 90, 70);
    height: 120px;
  }

  .container-grid.main.podcasts {
    background-color: rgb(255,255,255);
  }

  .container-grid.aside-1.podcastDetails {
    background-color: rgb(255,255,255);
  }

  .container-grid.aside-2.reviews {
    background-color: rgb(255,255,255);
  }

  .container-grid.footer {
    background-color: #eee;
    background-image: none;
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 0 0;
    background-repeat: no-repeat;
    background-blend-mode: normal;
  }

  button.btn.podcastSortBtn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    padding: 5px;
    margin: 10px;
    border: black;
  }

  .sortBtnDiv {
    position: absolute;
    top: 70px;
    left: 50px;
  }

  .sortBtnDiv input {
    border-radius: 3px;
    margin-top: 3px;
  }

  .createBtnDiv {
    position: absolute;
    top: 70px;
    right: 50px;
  }
  .createBtnDiv button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    padding: 5px;
    margin: 10px;
    border: black;
    border-radius: 3px;
  }
}

/* Assets */

#cacheMoneyGif {
  width: 150px;
  height: 50px;
  position: absolute;
  left: 550px;
  bottom: 90px;
  z-index: 3;
}
#logo {
  height: 250px;
  width: 250px;
  position: absolute;
  bottom: -75px;
  left: 480px;
}

#milliGif {
  width: 230px;
  height: 50px;
  position: absolute;
  left: 510px;
  bottom: -20px;
  z-index: 3;
}

#ptpLogo {
  width: 180px;
  height: 180px;
  position: absolute;
  top: -30px;
  left: 310px;
}

.podcastThumb {
  height: 200px;
  width: 200px;
}

@media screen and (min-width: 75rem) {
  /* Layout Elements */

  body.main-grid {
    grid-template-areas: 'header header header' 'aside-1 main aside-2' 'aside-1 main aside-2' 'aside-1 main aside-2' 'footer footer footer';
    grid-template-columns: 1fr 3fr 1fr;
  }
}

